* {margin: 0; padding: 0; border: 0; font-size: 100%; }
#title{
font-family: 'Lucida Handwriting', cursive;
Color: red;
}
.top{
	background-color: orange; 
	background-size:cover;
	font-family: 'Akaya Telivigala', cursive;
	border: ridge;
	border-color: plum;
	text-align: center;
	margin-bottom:10px;
	padding:10px;
}
.dummytext{
font-family: 'Arial','Courier New, Monospace', "Lucida","Lucida";
background-color: lightblue;
}
.introduction{
border: ridge;
border-color: plum;
padding:21px;
background-color: bisque;
color:red;
}
body{
	background-image: url("../images/background.png"); 
	color: purple;
	text-align: center;
	padding: 20px;
}
img{ 
width:300px;
height:300px; 
}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;