
#title{
font-family: 'Lucida Handwriting', cursive;
Color: red;
}
.dummytext{
font-family: 'Arial','Courier New, Monospace', "Lucida","Lucida";
background-color: lightblue;
}
.introduction{
border: ridge;
border-color: plum;
padding:21px;
background-color: bisque;
color:red;
}
body{
	background-image: url("../images/background.png"); 
	color: white;
	text-align: center;
	padding: 20px;
}
img{ 
width:200px;
height:100px; 
}