
#title{
font-family: 'Lucida Handwriting', cursive;
Color: red;
}
.dummytext{
font-family: 'Arial','Courier New, Monospace', "Lucida","Lucida";
background-color: lightblue;
}
.introduction{
border: ridge;
border-color: plum;
padding:21px;
background-color: bisque;
color:red;
}
#my-id{
	background-image: url("D:\Buas\Website\github\test hier in goede github\prj4-chapter3\prj4-chapter3\images\background.png");
}